<header class="header">
  <%= link_to '取組一覧', goals_path, class: 'add-button' %>
  <%= link_to 'ログアウト', root_path, class: 'logout-button' %>
</header>

<div class="calendar">
  <!-- ゴールのタイトルと各レベルの値を表示 -->
  <div class="goal-info mb-4 flex flex-col items-center text-center">
    <h2 class="goal-title text-3xl font-bold"><%= @goal.title %></h2>
    <ul class="goal-levels flex space-x-4">
      <li>Lv.1: <%= @goal.level_1_value %></li>
      <li>Lv.2: <%= @goal.level_2_value %></li>
      <li>Lv.3: <%= @goal.level_3_value %></li>
    </ul>
  </div>

  <%= month_calendar do |date| %>
    <% daily_record = DailyRecord.find_by(record_date: date, goal_id: @goal.id) %>

    <div class="calendar-day" style="<%= daily_record ? color_for_level(daily_record.level_achieved) : 'background-color: transparent;' %>;">
      <%= date.day %>

      <% if daily_record %>
        <div class="memo-content">
          <%= daily_record.memo %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<div class="text-center mt-6">
  <%= link_to '記録する', new_daily_record_path(goal_id: @goal.id), class: 'inline-block px-6 py-2 bg-[rgb(234,160,70)] text-black font-bold rounded-lg hover:bg-[rgb(220,140,60)] transition' %>
</div>

